Source: ruby-aptly
Maintainer: Ryan Uber <ru@ryanuber.com>
Section: admin
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 9)

Package: ruby-aptly
Architecture: all
Depends: ${misc:Depends}
Description: Ruby bindings for aptly (http://aptly.info)
 Ruby bindings for aptly (http://aptly.info)
